<!DOCTYPE html>
<html>
	
<head>
	<meta charset="utf-8">
	<title>Edit details</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="css/nunito-font.css">
	<!-- Main Style Css -->
    <link rel="stylesheet" href= "{{ url_for('static',filename='css/style1.css') }}"/>
   
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">


  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				
	  		<div class="img bg-wrap text-center py-4" style="background-image: url(images/bg_1.jpg);">
	  			<div class="user-logo">
	  				<div class="img" style="background-image: url(images/logo.jpg);"></div>
	  				<h3>Restaurant A</h3>
	  			</div>
	  		</div>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="resturent-home.html"><span class="fa fa-home mr-3"></span> Home</a>
          </li>
          <li>
            <a href="Reservations.html"><span class="fa fa-edit mr-3"></span> Reservations</a>
          </li>
          <li>
            <a href="Edit details.html"><span class="fa fa-edit mr-3"></span> Edit Details</a>
          </li>
          <li>
            <a href="tables.html"><span class="fa fa-edit mr-3"></span> Edit Tables</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
          </li>
        </ul>
    	</nav>

        <!-- Page Content  -->
      
        <div id="content" class="p-4 p-md-5 pt-5">
          <h2 class="mb-4">Tables</h2>
          <table class="table table-hover">
            <thead>
              <td>Table ID</td>
              <td>No. of Seats</td>
              <th>EDIT</th>
              <th>DELETE</th>
            </thead>
            <tbody>
              
            </tbody>
          </table>
          <form class="form-detail" action="#" method="post">
            <br><br><br>
            <label>No. of chairs:</label>
            <select class="form-select">
              <option selected>____select____</option>
              <option value="1">1 seater</option>
              <option value="2">2 seater</option>
              <option value="4">4 seater</option>
              <option value="6">6 seater</option>
              <option value="8">8 seater</option>
            </select><br>
            <button>ADD TABLE</button>
          </form>
        </div>
      </div>
	

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>